$mobile-breakpoint: 700px;

$primary: #364e7b;
$secondary: #B6244F;
$highlight-1: #C2E812;
$highlight-2: #EC7D10;
$black: #333333;

// Fonts
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-family-base: 'Roboto', Arial, sans-serif, -apple-system;
$font-family-serif: 'Lora', Arial, sans-serif, -apple-system;
$font-family-mono: 'Roboto Mono', monospace;
$line-height-base: 1.4;
