.reveal pre code {
  font-family: 'Victor Mono', 'Fira Code', 'Inconsolata-g', Inconsolata,
    'DejaVu Sans Mono', Consolas, 'Courier New', Courier, monospace;
  border-radius: 0.2em;
  padding: 0.5em;
  line-height: 1.4;
}
