.main-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;

  &__item {
    padding: 10px 20px;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
