.sidebar {
  width: 300px;
  padding-right: 20px;

  &__header {
    margin-bottom: 12px;
  }

  @at-root &__list, #TableOfContents ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
  }

  @at-root #TableOfContents ul ul {
    padding-left: 1em;
  }

  @at-root #TableOfContents ul ul ul {
    padding-left: 2em;
  }

  @at-root &__item, #TableOfContents li {

    &--active {
      color: lighten($primary, 10%);
    }
  }

  @at-root &__link, #TableOfContents li > a {
    text-decoration: none;
    line-height: 1.8;

    &:hover {
      text-decoration: underline;
    }
  }
}
