.sidebar {
  width: 300px;
  padding-right: 20px;

  &__header {
    margin-bottom: 12px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
  }

  &__item {
    padding-bottom: 8px;

    &--active {
      color: lighten($primary, 10%);
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
