{{ define "header_css" }}
  {{ if .Params.katex }}
    {{ partial "katex-css.html" . }}
  {{ end }}
{{ end }}

{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "meta_tags" }}
  {{- if isset .Params "redirect" -}}
    <meta http-equiv="refresh" content="0;URL={{ .Params.redirect }}">
  {{- end -}}
{{ end }}

{{ define "main" }}
  <h1 class="title">{{.Title}}</h1>
  <div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
    {{ .Content }}
  </div>
{{ end }}

{{ define "footer_js" }}
  {{ if .Params.katex }}
    {{ partial "katex-js.html" . }}
  {{ end }}
{{ end }}
