<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }} - Slideshow{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ block "meta_tags" . }}{{end}}
    <link rel="icon" href="{{ "favicon.ico" | absURL }}">
  </head>
  <body>
    {{ $slidesFileName := "_slides.remark.md" }}
    {{ if isset .Params "slides" }}
      {{ $slidesFileName = .Params.slides }}
    {{ end }}
    {{ $dir := .File.Dir }}
    {{ $fullpath := delimit (slice $dir $slidesFileName) "" }}

    <div id="source" style="display:none">
      {{- readFile $fullpath -}}
    </div>

    <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
    <script>
      const slideshow = remark.create();
    </script>

    {{ partial "google-analytics.html" . }}
  </body>
</html>
