{{ $currentNode := . }}
<aside class="sidebar">
  <h4 class="sidebar__header">{{ .Section | humanize | title }}</h4>
  <ul class="sidebar__list">
    {{ range where .Site.RegularPages "Section" .Section }}
    <li class="sidebar__item{{ if eq .File.UniqueID $currentNode.File.UniqueID }} sidebar__item--active{{ end }}">
      <a class="sidebar__link" href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ if gt .WordCount 200 }}
    <h4 class="sidebar__header">Outline</h4>
    {{.TableOfContents}}
  {{ end }}
  {{ $slidesOutputFormat := .OutputFormats.Get "slides" }}
  {{ $hasSlides := ne $slidesOutputFormat nil }}
  {{ $hasLinks := isset .Params "links" }}
  {{ if or $hasSlides $hasLinks }}
    <h4 class="sidebar__header">Lesson Material</h4>
    <ul class="sidebar__list">
      {{ if $hasSlides }}
      <li class="sidebar__item">
        <a class="sidebar__link" target="_blank" href="{{ $slidesOutputFormat.RelPermalink }}">Slides</a>
      </li>
      {{ end }}
      {{ if $hasLinks }}
        {{ range $index,$linkInfo := .Params.links }}
          <li class="sidebar__item">
            <a class="sidebar__link" target="_blank" href="{{ $linkInfo.url }}">{{ $linkInfo.name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</aside>
