{{ define "header_css" }}
  {{ if .Params.katex }}
    {{ partial "katex-css.html" . }}
  {{ end }}
{{ end }}

{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
  <h1 class="title">{{.Title}}</h1>
  {{ $slidesOutputFormat := .OutputFormats.Get "slides" }}
  {{ $hasSlides := ne $slidesOutputFormat nil }}
  {{ if $hasSlides }}
    <a href="{{ $slidesOutputFormat.RelPermalink }}">Slides</a>
  {{ end }}
  <div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
    {{ .Content }}
  </div>
{{ end }}

{{ define "footer_js" }}
  {{ if .Params.katex }}
    {{ partial "katex-js.html" . }}
  {{ end }}
{{ end }}
